[submodule "Submodules/OTRKit"]
	path = Submodules/OTRKit
	url = git@github.com:ChatSecure/OTRKit.git
[submodule "Submodules/XMPPFramework"]
	path = Submodules/XMPPFramework
	url = git@github.com:ChatSecure/XMPPFramework.git
[submodule "Submodules/ChatSecure-Metadata"]
	path = Submodules/ChatSecure-Metadata
	url = git@github.com:ChatSecure/ChatSecure-Metadata.git
[submodule "Submodules/ProxyKit"]
	path = Submodules/ProxyKit
	url = git@github.com:chrisballinger/ProxyKit.git
[submodule "Submodules/CPAProxy"]
	path = Submodules/CPAProxy
	url = git@github.com:ursachec/CPAProxy.git
[submodule "Submodules/YapDatabase"]
	path = Submodules/YapDatabase
	url = git@github.com:chrisballinger/YapDatabase.git
[submodule "Submodules/IOCipher"]
	path = Submodules/IOCipher
	url = git@github.com:ChatSecure/IOCipher-ObjC.git
[submodule "Submodules/xmpp-server-list"]
	path = Submodules/xmpp-server-list
	url = git@github.com:ChatSecure/xmpp-server-list.git
