.DS_Store
build
*.mode1v3
*.pbxuser
project.xcworkspace
xcuserdata
.svn
DerivedData
*.orig
*.xccheckout

## App packaging
*.ipa
*.dSYM.zip
*.dSYM
*.app

Pods/
Carthage/
com.mono0926.LicensePlist.Output/

Secrets.plist
Preview.html

.env

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
