github "ChatSecure/Mantle" "2.1.0_headerfix"
github "nolanw/HTMLReader" "1d0dda3"
github "AFNetworking/AFNetworking" ~> 3.1
github "TheLevelUp/ZXingObjC" ~> 3.2.2
github "soffes/SAMKeychain" ~> 1.5
github "jdg/MBProgressHUD" ~> 1.1
github "TTTAttributedLabel/TTTAttributedLabel" ~> 2.0
github "PureLayout/PureLayout" ~> 3.0
github "facebook/KVOController" ~> 1.2
github "xmartlabs/XLForm" ~> 4.0.0
github "mattt/FormatterKit" ~> 1.8

### Using CocoaPods due to Swift 3->4 issues ###
# github "Cocoanetics/Kvitto" ~> 1.0 
# github "Cocoanetics/DTFoundation" ~> 1.7
# github "Alamofire/Alamofire" ~> 4.4
