<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>serverName</key>
		<string>Dukgo</string>
		<key>serverDomain</key>
		<string>dukgo.com</string>
		<key>serverImage</key>
		<string>dukgo</string>
	</dict>
	<dict>
		<key>serverName</key>
		<string>Computer Chaos Club</string>
		<key>serverDomain</key>
		<string>jabber.ccc.de</string>
		<key>serverImage</key>
		<string>ccc</string>
	</dict>
	<dict>
		<key>serverName</key>
		<string>Computer Chaos Club</string>
		<key>serverDomain</key>
		<string>okj7xc6j2szr2y75.onion</string>
		<key>userDomain</key>
		<string>jabber.ccc.de</string>
		<key>serverImage</key>
		<string>ccc</string>
	</dict>
	<dict>
		<key>serverName</key>
		<string>The Calyx Institute</string>
		<key>serverDomain</key>
		<string>jabber.calyxinstitute.org</string>
		<key>serverImage</key>
		<string>calyx</string>
	</dict>
	<dict>
		<key>serverName</key>
		<string>The Calyx Institute</string>
		<key>serverDomain</key>
		<string>ijeeynrc6x2uy5ob.onion</string>
		<key>userDomain</key>
		<string>jabber.calyxinstitute.org</string>
		<key>serverImage</key>
		<string>calyx</string>
	</dict>
</array>
</plist>
