CODE_SIGN_IDENTITY = $(CODE_SIGN_IDENTITY_$(CONFIGURATION))
CODE_SIGN_IDENTITY_Debug = iPhone Developer
CODE_SIGN_IDENTITY_Release = iPhone Distribution

PROVISIONING_PROFILE = $(PROVISIONING_PROFILE_$(CONFIGURATION))
PROVISIONING_PROFILE_Debug = c9e63e36-23ec-4a05-b7e5-9b6fa9962f88
PROVISIONING_PROFILE_Release = 8ec5225e-be98-4d1a-9b52-7ee1ba6cd655