//:configuration = Debug
CODE_SIGN_IDENTITY = iPhone Developer
PROVISIONING_PROFILE = 352F9BA4-6D28-4E67-975B-FF030BCF2C00

//:configuration = Release
CODE_SIGN_IDENTITY = iPhone Developer
PROVISIONING_PROFILE = 352F9BA4-6D28-4E67-975B-FF030BCF2C00