<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>en</string>
	<string>ar</string>
	<string>bo</string>
	<string>ca</string>
	<string>de</string>
	<string>hu</string>
	<string>it</string>
	<string>ru</string>
	<string>tr</string>
	<string>vi</string>
	<string>zh_TW</string>
	<string>zh_CN</string>
	<string>pt_BR</string>
	<string>he</string>
	<string>es</string>
	<string>sv</string>
</array>
</plist>
